<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Care{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/flat-ui.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" />
        {% endblock %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.ui.addresspicker.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}  
        </div>
        {% block javascripts %}
            {# ************************ JS ************************ #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
